@charset "UTF-8";

 
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-acrobat:before { content: '\e3'; } /* 'ã' */
.icon-plus-squared:before { content: '\229e'; } /* '⊞' */
.icon-minus-squared:before { content: '\229f'; } /* '⊟' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-feather:before { content: '\2712'; } /* '✒' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-cancel-squared:before { content: '\274e'; } /* '❎' */
.icon-quote:before { content: '\275e'; } /* '❞' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-minus-circled:before { content: '\2796'; } /* '➖' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-help-circled:before { content: '\e704'; } /* '' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-eye-off:before { content: '\e70b'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-comment2:before { content: '\e718'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-doc1:before { content: '\e730'; } /* '' */
.icon-docs2:before { content: '\e736'; } /* '' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-arrow-combo:before { content: '\e74f'; } /* '' */
.icon-doc-1:before { content: '\e800'; } /* '' */
.icon-plus-circle:before { content: '\e801'; } /* '' */
.icon-cog-1:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-cancel-1:before { content: '\e805'; } /* '' */
.icon-paper-plane-empty:before { content: '\e806'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-arrows-cw:before { content: '\e808'; } /* '' */
.icon-right-bold:before { content: '\e809'; } /* '' */
.icon-logout-1:before { content: '\e80a'; } /* '' */
.icon-gauge:before { content: '\e80c'; } /* '' */
.icon-upload-cloud:before { content: '\e80d'; } /* '' */
.icon-upload:before { content: '\e80e'; } /* '' */
.icon-print:before { content: '\e80f'; } /* '' */
.icon-up-hand:before { content: '\e810'; } /* '' */
.icon-pencil-squared:before { content: '\e811'; } /* '' */
.icon-article-alt:before { content: '\e812'; } /* '' */
.icon-right-outline:before { content: '\e813'; } /* '' */
.icon-left-dir:before { content: '\e814'; } /* '' */
.icon-resize-small-alt:before { content: '\e815'; } /* '' */
.icon-down-thin:before { content: '\e816'; } /* '' */
.icon-erase:before { content: '\e817'; } /* '' */
.icon-thumbs-up:before { content: '\e818'; } /* '' */
.icon-indent-right:before { content: '\e819'; } /* '' */
.icon-indent-left:before { content: '\e81a'; } /* '' */
.icon-comment:before { content: '\e81b'; } /* '' */
.icon-calendar:before { content: '\e81c'; } /* '' */
.icon-user-1:before { content: '\e81d'; } /* '' */
.icon-inbox:before { content: '\e81e'; } /* '' */
.icon-doc-2:before { content: '\e81f'; } /* '' */
.icon-globe-1:before { content: '\e820'; } /* '' */
.icon-comment-1:before { content: '\e821'; } /* '' */
.icon-mobile:before { content: '\e822'; } /* '' */
.icon-mail-1:before { content: '\e823'; } /* '' */
.icon-location:before { content: '\e824'; } /* '' */
.icon-linkedin-rect:before { content: '\e825'; } /* '' */
.icon-twitter-bird:before { content: '\e826'; } /* '' */
.icon-googleplus-rect:before { content: '\e827'; } /* '' */
.icon-resize-full-alt:before { content: '\e828'; } /* '' */
.icon-quote-right-alt:before { content: '\e829'; } /* '' */
.icon-quote-left-alt:before { content: '\e82a'; } /* '' */
.icon-list:before { content: '\e82b'; } /* '' */
.icon-right-dir:before { content: '\e82c'; } /* '' */
.icon-down-dir:before { content: '\e82d'; } /* '' */
.icon-up-dir:before { content: '\e82e'; } /* '' */
.icon-text-width:before { content: '\e830'; } /* '' */
.icon-text-height:before { content: '\e831'; } /* '' */
.icon-floppy:before { content: '\e833'; } /* '' */
.icon-code:before { content: '\e834'; } /* '' */
.icon-twitter-squared:before { content: '\e838'; } /* '' */
.icon-flow-split:before { content: '\e839'; } /* '' */
.icon-flow-merge:before { content: '\e841'; } /* '' */
.icon-indent-left-1:before { content: '\e842'; } /* '' */
.icon-indent-right-1:before { content: '\e843'; } /* '' */
.icon-flow-cross:before { content: '\e844'; } /* '' */
.icon-flow-parallel:before { content: '\e845'; } /* '' */
.icon-check-empty:before { content: '\e84c'; } /* '' */
.icon-check-1:before { content: '\e84d'; } /* '' */
.icon-resize-full:before { content: '\e84e'; } /* '' */
.icon-resize-small:before { content: '\e84f'; } /* '' */
.icon-facebook-squared:before { content: '\e850'; } /* '' */
.icon-gplus-squared:before { content: '\e851'; } /* '' */
.icon-linkedin-squared:before { content: '\e852'; } /* '' */
.icon-list-2:before { content: '\e853'; } /* '' */
.icon-cw:before { content: '\e854'; } /* '' */
.icon-list-nested:before { content: '\e855'; } /* '' */
.icon-ccw:before { content: '\e856'; } /* '' */
.icon-pencil:before { content: '\e857'; } /* '' */
.icon-thumbs-up-1:before { content: '\e858'; } /* '' */
.icon-clock:before { content: '\e859'; } /* '' */
.icon-cog-2:before { content: '\e85a'; } /* '' */
.icon-star-1:before { content: '\e85b'; } /* '' */
.icon-heart-1:before { content: '\e85c'; } /* '' */
.icon-attach-1:before { content: '\e85d'; } /* '' */
.icon-lock-1:before { content: '\e85e'; } /* '' */
.icon-tag-1:before { content: '\e85f'; } /* '' */
.icon-eye-1:before { content: '\e860'; } /* '' */
.icon-photo:before { content: '\e861'; } /* '' */
.icon-trash-1:before { content: '\e862'; } /* '' */
.icon-search:before { content: '\e863'; } /* '' */
.icon-desktop:before { content: '\e864'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-doc-alt-1:before { content: '\f0f6'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-globe:before { content: '🌎'; } /* '\1f30e' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-alert:before { content: '💥'; } /* '\1f4a5' */
.icon-doc:before { content: '📄'; } /* '\1f4c4' */
.icon-attach:before { content: '📎'; } /* '\1f4ce' */
.icon-book:before { content: '📕'; } /* '\1f4d5' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.icon-bell:before { content: '🔔'; } /* '\1f514' */
.icon-link:before { content: '🔗'; } /* '\1f517' */